<ul id="nav">
	    	    	<li>
	    	    		<a class="{% nav_selected request '^/$' %}" href="{% url home %}" title="">Home</a>
	    	    	</li>
	    	        <li>
	    	           <a class="{% nav_selected request '^/about-us/' %}" href="/about-us/" title="" alt="">About Us</a>
	    	        </li>
	    	        <li>
	    	        	<a class="{% nav_selected request '^/products/' %}" href="{% url categories %}" title="" alt="">Products</a>
	    	        </li>
	    	        <li>
	    	        	<a class="{% nav_selected request '^/services/' %}" href="/services/" title="" alt="">Services</a>
	    	        </li>
	    	        <li>
	    	        	<a class="{% nav_selected request '^/trade-shows/' %}" href="/trade-shows/" title="" alt="">Trade Shows</a>
	    	        </li>
	    	        <li>
	    	        	<a class="{% nav_selected request '^/blog/' %}" href="{% url blog_home %}" title="" alt="">Blog</a>
	    	        </li>
	  		</ul>