*.pyc
paypal-details
static/images/user-submitted/
local_settings.py
paypal/
static/images/product-photos/
static/images/user-submitted/
static/images/blog-photos/
static/images/likes/
static/cache/
TODOLIST
sorl/
*.DS_Store

