{% extends "base.html" %}
{% load django_static %}

{% block extracss %}
<style type="text/css">

div#main-text-wide div#left {
  width: 600px;	
}

div.right-box label {
  margin-bottom: 5px;	
}

div.row {
  margin-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  width: 560px;
  padding: 20px;
  border-top: 2px dotted #e1e1e1;	
}

div.row-box {
  margin-left: 0;	
}

div#main-text-wide div#left div.row-box p {
  margin: 0;
  float: left;
  	
}

div.row-box textarea {
  float: left;	
}

div#left input.submit-button {
    background: url("{% staticfile '/images/submit.png' %}") no-repeat scroll left top transparent;
    border: medium none;
    height: 51px;
    margin-top: 0px;
    width: 227px;
}

div#left input.submit-button:hover {
    background: url("{% staticfile '/images/submit.png' %}") no-repeat scroll left center transparent;
}

div#left input.submit-button:active {
    background: url("{% staticfile '/images/submit.png' %}") no-repeat scroll left bottom transparent;
}

div#left p.help-text {
    float: right;
    font-size: 0.7em;
    padding-left: 10px;
    margin-top: 20px;
}

</style>
{% endblock %}

{% block metadescription %}Contact the Min River Tea Farm - how you can get in touch with us.{% endblock %}

{% block pagetitle%}Contact us{% endblock %}



{% block content %}
   
<div id="main-text-wide">
		
	<div id="right">
	</div>
		
	<div id="left">
		
		<h1>Contact us</h1>
		<p>Some introduction text goes here for the contact us page.</p>
			
		<ul>
			<li><strong>Email us:</strong> <a href="mailto:{{ siteemail }}">{{ siteemail }}</a> </li>
		</ul>
		{% if message %}
			<h3>Thanks!</h3>
			<p>Your message has been sent to the Min River Tea Farm. We'll be in touch as soon as possible (normally within 12 hours).</p>
		{% else %}
			<p>Alternatively, use our online contact form to send us a message. We respond to all messages within 12 hours.</p>
				<div class="row-box">
					<form action="." method="post">
					<p>	 
						<input type="text" name="your_name" id="id_your_name" />
						<label for="id_your_name">Your name</label>
					</p>
					<p> 
						<input type="text" name="your_email" id="id_your_email" />
						<label for="id_your_email">Your email</label>
					</p>
					
					<p> 
						<input type="text" name="country" id="id_country" />
						<label for="id_country">Country (optional)</label>
					</p>

					<p>
						<textarea id="id_your_message" rows="10" cols="60" name="your_message"></textarea>
						<label for="id_your_message">Your message</label> 
					</p>

					</div>
					

					<p class="help-text">
					<img src="{% staticfile '/images/lock.gif' %}"> We will never share, sell or spam your email address (<a target="_blank" title="Read our privacy policy (opens in a new window)" href="/privacy/">Privacy</a>)
					</p>					
					<input class="submit-button" value="" type="submit">
					
					</div>

					
				</form>
			{% endif %}
		</div>
	</div>



		

    {% endblock %}
