{% extends "base.html" %}
{% load django_static %}
{% load thumbnail %}

{% block extracss %}
<style type="text/css">



div#left p.help-text {
    float: right;
    font-size: 0.7em;
    padding-left: 10px;
    margin-top: 20px;
}

div.form {
  background-color: #f1f1f1;
  padding: 20px 15px;
  float: left;	
  width: 560px;
  margin-top: 20px;
}

div#main-text-wide div#left div.form p {
  margin: 0;	
}

div.form label {
  text-align: right;
  margin-right: 20px;
  width: 140px	
}

div.form input, div.form textarea {
  width: 380px;	
}

div.form input.submit {

  padding: 9px;
  height: 32px;
  background-color:#666;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border: none;
  margin: 10px 0 0 160px;
}

div.form input.submit:hover {
  cursor: pointer;
  background-color: #50CE33;	
}

div#right div.form p.help-text {
    margin-top: 10px;
    margin-left: 160px;
}

p.message {
    color: #50CE33;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


</style>
{% endblock %}

{% block metadescription %}Contact {{ sitename }} - how you can get in touch with us.{% endblock %}

{% block pagetitle%}Contact us{% endblock %}



{% block content %}

<div id="main-text-wide">

<div id="left">

{% include "shop/snippets/pages_nav.html" %}

	<div class="info">
		<h4>We're on twitter!</h4>
		<p>If you want to get in touch, why not send us a message on twitter?</p>
	</div>
	
</div>

<div id="right">
		<h1>Contact Us</h1>
	
	    {% if message %}
	        <p class="message">* Thanks - we've received your message and we'll get back to you as soon as possible.</p>
	    {% endif %}
	
		{{ shopsettings.contact_us_page|safe }}
		
		{% if form.errors %}
			{{ form.errors }}
		{% endif %}

				<div class="form">
					<form action="{% url contact_us %}" method="post">
					<p>	 
						<input type="text" name="your_name" id="id_your_name" />
						<label for="id_your_name">Your name</label>
					</p>
					<p> 
						<input type="text" name="your_email" id="id_your_email" />
						<label for="id_your_email">Your email</label>
					</p>
					
					<p> 
						<input type="text" name="country" id="id_country" />
						<label class="optional" for="id_country">Country (optional)</label>
					</p>

					<p>
						<textarea id="id_your_message" rows="10" cols="60" name="your_message"></textarea>
						<label for="id_your_message">Your message</label> 
					</p>

					<p class="help-text">
					<img src="{% staticfile '/images/lock.gif' %}"> We will never share, sell or spam your email address (<a target="_blank" title="Read our privacy policy (opens in a new window)" href="/privacy/">Privacy</a>)
					</p>					
					<input class="submit" value="Send message" type="submit">
					
					</div>

</div>
					
				</form>

		</div>
	</div>



		

{% endblock %}
