{% extends "base.html" %}
{% load django_static %}

{% block pagetitle %}Order (Step 2 of 3) - Confirm Order{% endblock %}


{% block extracss %}
<style type="text/css">

div#main-text-wide div#left h3 {
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 -10px;
}

div.row {
  background-image: none;	
  -moz-box-shadow: none;
}

div#steps {
    float: right;
    width: auto;
}

div#steps div.step {
    background-color: #F1F1F1;
    border: 1px solid #FFFFFF;
    color: #D1D1D1;
    float: left;
    font-size: 14px;
    padding: 7px 20px;
    text-align: center;
    width: auto;
}

div#steps div.step.first {
  -moz-border-radius: 10px 0px 0px 10px;	
}

div#steps div.step.finished {
  background-color: #e1e1e1;
  color: #19761C;	
}

div#steps div.step.selected {
    background-color: #ddeedf;
    color: #333;
}

div#steps div.step.last {
  -moz-border-radius: 0px 10px 10px 0px;	
}


</style>

{% endblock %}

{% block content %}


<div id="main-text-wide">

	<h1>Confirm and pay</h1>
	
	<div id="basket">
		
    <form method="post" action="{{ paypal_submit_url }}">
    
    	<div id="confirm-and-pay-button">
			<input type="submit" value="" next="" class="confirm-and-pay-button"/>
			<p class="checkout"><strong>Next step:</strong> <em>pay securely via PayPal, using all major credit and debit cards or your linked Paypal account.</em></p>
			<img src="{% staticfile '/images/002.gif' %}" class="paypal">
		</div>	
    

		<input type="hidden" name="cmd" value="_cart"> 
		<input type="hidden" name="upload" value="1"> 
		<input type="hidden" name="business" value="{{ paypal_receiver_email }}">
		<input type="hidden" name="currency_code" value="GBP">
		<input type="hidden" name="address_override" value="1">
		
		<input type="hidden" name="address1" value="{{ order.address.house_name_number }}, {{ order.address.address_line_1 }}">		
		<input type="hidden" name="address2" value="{{ order.address.address_line_2 }}">
		<input type="hidden" name="city" value="{{ order.address.town_city }}">
		<input type="hidden" name="country" value="GB">
		<input type="hidden" name="zip" value="{{ order.address.postcode }}">
		<input TYPE="hidden" NAME="return" value="{{ paypal_return_url }}">
		<input TYPE="hidden" NAME="cancel" value="{{ paypal_notify_url }}">
		<input TYPE="hidden" NAME="notify_url" value="{{ paypal_notify_url }}">
		<input type="hidden" id="id_no_shipping" value="1" name="no_shipping">
		<input type="hidden" id="id_charset" value="utf-8" name="charset">

		<input type="hidden" name="invoice" value="TEA-00{{ order.id }}" id="id_invoice" />

		{% if postage_discount %}
		{% else %}
		<input type="hidden" name="item_name_1" value="Postage Standard Rate"> 
		<input type="hidden" name="quantity_1" value="1">
		<input type="hidden" name="amount_1" value="3.00">
		{% endif %}
		 
		 {% if postage_discount %}
	 		 {% for thing in basket_items %}
				<input type="hidden" name="item_name_{{ forloop.counter }}" value="{{ thing.item.parent_product.name }} {{ thing.item.parent_product.category }} -  ({{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }})"> 
				<input type="hidden" name="quantity_{{ forloop.counter }}" value="{{ thing.quantity }}">
				<input type="hidden" name="amount_{{ forloop.counter }}" value="{{ thing.item.price }}"> 
			 {% endfor %}
		{% else %}
			 {% for thing in basket_items %}
				<input type="hidden" name="item_name_{{ forloop.counter|add:"1" }}" value="{{ thing.item.parent_product.name }} {{ thing.item.parent_product.category }} -  ({{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }})"> 
				<input type="hidden" name="quantity_{{ forloop.counter|add:"1" }}" value="{{ thing.quantity }}">
				<input type="hidden" name="amount_{{ forloop.counter|add:"1" }}" value="{{ thing.item.price }}"> 
			 {% endfor %}
		{% endif %}
		
				<div class="row">
			<div class="row-label">
				<h3>You have ordered:</h3>
			</div>
		<div class="row-box">
			<table>
			{% for thing in basket_items %}
			  <tr>				
		    	<td width="200px">
		    		{{ thing.quantity }} X {{ thing.item.parent_product.name }} ({% if not thing.item.weight %}
		    		{% else %}{{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }}{% endif %})
		    	</td>
		    	<td width="150px">
		    	</td>
		    	<td>£{{ thing.get_price }}</td>		    				
			  </tr>
		  {% endfor %}
		  {% if postage_discount %}
		  <tr>
		    <td><span class="small"><em>There is no postage charge, because your order is over £50</em></span></td>
		  </tr>
		  {% else %}
		  <tr>
		  	<td>Postage</td>
		  	<td>&nbsp;</td>
		  	<td>£3.00</td>		  
		  </tr>
		  {% endif %}
		  <tr>
		  	<td><strong>TOTAL</strong></td>
		  	<td>&nbsp;</td>
		  	<td><strong>£{{ total_price }}</strong></td>		  
		  </tr>
		</table>
		</div>
	</div>



<div class="row">
	<div class="row-label">
		<h3>We'll send your order to:</h3>
	</div>
	
	<div class="row-box">
	    {{ shopper.first_name }} {{ shopper.last_name }}<br/>
		{{ order.address.house_name_number }}<br/>
		{{ order.address.address_line_1 }}<br/>
		{{ order.address.address_line_2 }}<br/>
		{{ order.address.town_city }}<br/>
		{{ order.address.postcode }}<br/>
		{{ order.address.country|upper }}
		<br/>
		<br/>
		<p class="intro">* If this is not a valid UK address, we won't be able to post your tea</p>
	</div>
</div>

<div class="row">
	<div class="row-label">
		<h3>Problems or questions?</h3>
	</div>
	
	<div class="row-box">
	    <p>We aim to offer first class customer service - if you have ANY problems or questions, contact Chris West, the owner, directly on email at <a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a> - I'll respond normally within a few hours to every email.</p>

	</div>
</div>



		<br clear="all"/>

		

	</form> 

</div>

</div>
{% endblock %}
