{% extends "base.html" %}
{% load django_static %}

{% block pagetitle %}Order (Step 1 of 3) - Your details{% endblock %}

{% block extracss %}
<style type="text/css">
div#main-text-wide div#left {
  margin-top: 20px;	
}

div#main-text-wide div#right {
  margin-top: 30px;	
}

div#main-text-wide div#left h3 {
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 -10px;
}

div#basket div.security {
  float: right;
  width: 220px;	
}

div#basket div.security img {
  position: relative;
  top: 13px;	
}

input.checkbox {
    float: left;
    margin-bottom: 50px;
    margin-right: 12px;
    width: 20px;
}

p.checkbox {
  font-size: 12px;
  margin-bottom: 500px;	
}

p.help-text {
    float: left;
    font-size: 0.7em;
    padding-left: 130px;
    position: relative;
    top: -8px;
    width: 300px;
}

p.help-text img {
  position: relative;
  top: 3px;	
}

div.address-container {
    float: left;
    margin-left: 20px;
    width: 500px;
}

div.address-container p {
  font-size: 15px;
  margin: 10px 0px 20px 0;	
}

div.address {
    float: left;
    margin: 0 10px 10px 0;
    padding: 0px 0px;
    width: 215px;
    -moz-border-radius: 10px;
    font-size: 12px;
}

div.address h3 {
  font-size: 1.4em;	
  margin-bottom: 15px;
}

div.address a {
  font-size: 13px;	
}

div.address.first {
    margin-right: 0;
    width: 480px;
    font-size: 16px;
}

div.address.other {
  background: #fff;
  width: 500px;
  padding: 0;
  display: none;
}

div.address label {
  width: 500px;
  font-size: 14px;	
}

p.hint {
    color: #999;
    font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 0;
}	

div#confirm-details-button {
  {% if shopper %}
    margin-top: 50px;
  {% else %}
    margin-top: 285px;
  {% endif %}	
}

label.red {
  color: red;	
}

p.red {
  color: red;
  margin-top: 0;	
}

span.red {
  color: #d11010;	
}

span.country {
  float: left;
  width: 280px;
  padding: 10px 15px;	
}

</style>

{% endblock %}

{% block content %}

<div id="main-text-wide">

	<h1>Please {% if shopper %}check{% else %}provide{% endif %} your details</h1>
	
	<div id="basket">
	
	
    <form method="post" action="">
		 
		 
		<div class="security">
		{% if form.non_field_errors or form.first_name.errors or form.last_name.errors or form.email.errors %}
		 <p class="red">&laquo; there were some errors - please check and provide all required information.</p>
		 {% endif %}
			<img src="{% staticfile '/images/lock-large.png' %}" style="float:left; margin-right: 10px; margin-bottom: 20px;">
			<p>We will never share your details, nor will we send you email spam. <a target="_blank" title="Read our privacy policy (opens in a new window)" href="/privacy/">Privacy</a></p>
		</div>
		
	{% if shopper %}
	  <div class="row">
	  	<p class="intro">We've saved your information from last time - please check that everything is still correct:</p>
		<div class="address-container">
		<div class="address first">
			<div class="address first">{{ shopper.first_name }} {{ shopper.last_name }} ({{ shopper.email }}) - <a href="{% url not_you %}">not you?</a>
				
		{% for address in shopper.get_addresses %}
				{% if forloop.first %}
					<br/>
					{{ address.house_name_number }}<br/>
					{{ address.address_line_1 }}<br/>
					{{ address.address_line_2 }}<br/>
					{{ address.town_city }}<br/>
		 			{{ address.postcode }}<br/>
		 			{{ address.country|upper }} - <a href="{% url not_you %}">Want to use a different address?</a>
		 			</div>
		 		{% else %}
		 			<div class="address other">
		 			{{ address.house_name_number }}, 
					{{ address.address_line_1 }}, 
					{{ address.address_line_2 }}, 
					{{ address.town_city }}, 
		 			{{ address.postcode }}
		 			</div>
		 		{% endif %}
		{% endfor %}
		</div>
		
		<div style="display:none;">
		<input type="text" name="first_name" id="id_first_name" value="{{ first_name }}"/>
    	<input type="text" name="last_name" id="id_last_name" value="{{ last_name }}"/>
    	<input type="text" name="email" id="id_email" value="{{ email }}"/>
    	<input type="text" name="house_name_number" id="id_house_name_number" value="{{ house_name_number }}"/>
    	<input type="text" name="address_line_1" id="id_address_line_1" value="{{ address_line_1 }}"/>
    	<input type="text" name="address_line_2" id="id_address_line_2" value="{{ address_line_2 }}"/>
    	<input type="text" name="town_city" id="id_town_city" value="{{ town_city }}"/>
    	<input type="text" name="postcode" id="id_postcode" value="{{ postcode }}"/>
    	<input type="text" name="country" id="id_country" value="{{ country }}"/>
 		</div>
 		</div>
 		</div>
	{% else %}

	<div class="row">
			<div class="row-label">
			<h3>Your name and email</h3>
		</div>
    	<div class="row-box">
    		{% if form.first_name.errors or form.last_name.errors or form.email.errors %}
    		<ul class="errorlist"><li>* you must provide all your details - thanks!</li></ul>
    		{% endif %}
    		<p class="intro">Please provide your name and your email address (so we can update you on the order process if there's a problem). </p>

    		<p><input  class="{% if form.first_name.errors %}red{% endif %}" type="text" name="first_name" id="id_first_name" value="{{ first_name }}"/><label for="id_first_name"><span class="red">*</span> First name</label></p>
    		<p><input class="{% if form.last_name.errors %}red{% endif %}" type="text" name="last_name" id="id_last_name" value="{{ last_name }}"/><label for="id_last_name"><span class="red">*</span> Surname</label></p>
    		<p><input class="{% if form.email.errors %}red{% endif %}" type="text" name="email" id="id_email" value="{{ email }}"/><label for="id_email"><span class="red">*</span> Email address</label></p>	
    	</div>
    </div>
    
	
	<div class="row">
		<div class="row-label">
			<h3>Your address</h3>
		</div>
    	<div class="row-box">
    	{{ form.non_field_errors }}
    		<p class="intro">Please confirm which address we should send your tea to. Please make sure this is a valid UK address, or we will not be able to ship your tea.</p>
    		

      <p>
      	<input id="id_house_name_number" type="text" name="house_name_number" maxlength="200" value="{{ house_name_number }}"/>
      	<label for="id_house_name_number"><span class="red">*</span> House name number:</label>
      	</p>
	  	{{ form.address_line_1.error }}
	  
	  <p>
	  	<input id="id_address_line_1" type="text" name="address_line_1" maxlength="200" value="{{ address_line_1 }}"/> 
	 	    <label for="id_address_line_1">Address line 1:</label>
	  </p>
      	{{ form.address_line_2.errors }}
      	
      <p>
      	
      	<input id="id_address_line_2" type="text" name="address_line_2" maxlength="200"  value="{{ address_line_2 }}"/>
      	<label for="id_address_line_2">Address line 2:</label>
      	</p>
      	{{ form.town_city.errors }}
      
      <p>
      	
      	<input id="id_town_city" type="text" name="town_city" maxlength="200" value="{{ town_city }}"/> 
      	<label for="id_town_city">Town / City:</label>
      	</p>
      	{{ form.postcode.errors }}
      	
      <p>
      	
      	<input id="id_postcode" type="text" name="postcode" maxlength="200" value="{{ postcode }}" /> 
      	<label for="id_postcode"><span class="red">*</span> Postcode:</label>
      	</p>
      
      <div style="display:none;">	
	  <p>
	    <span class="country">
	    {{ confirm_form.country }}
	    </span>
	    <label for="id_country"><span class="red">*</span> Country:</label>
	  </p>
	  </div>
 	  <br clear="all">
 	  
 	</div> 
	</div>

	{% endif %}

	<div id="confirm-details-button">
		<p class="checkout"><strong>Next step:</strong> 
		<em>Confirm your order. We'll let you check your order, and then you can pay using Paypal.</em>
		</p>
		<input type="submit" value="" next="" class="confirm-details-button"/>
	</div>
		
	</form>


</div>

	<div id="right">

	</div>
	
	<div id="left">
	
	</div>
</div>

{% endblock %}
