{% extends "base.html" %}

{% block pagetitle %}Login / Signup{% endblock %}

{% block extracss %}
<style type="text/css">
div#main-text-wide div#left {
  width: 400px;	
  border-right: 1px solid #e1e1e1;
  padding-right: 30px;
}

div#main-text-wide div#right {
  float: left;
  width: 400px;	
}

input.submit {
    background-color: #398C26;
    border: medium none;
    color: #FFFFFF;
    font-family: Arial,sans-serif;
    font-weight: bold;
    height: 32px;
    padding: 9px;
    width: 160px;
}

input.submit:hover {
    background-color: #666;
    cursor: pointer;
}

form label {
  margin-bottom: 5px;	
}

</style>
{% endblock %}

{% block content %}

<div id="main-text-wide">
	<div id="left">
		<h1>Login</h1>
		<p class="description">Login to {{ sitename }} if you already have an account.</p>

		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
		
		<form method="post" action="{% url django.contrib.auth.views.login %}">
		{% csrf_token %}
		<label>Email</label> {{ form.username }}
		<label>Password</label>{{ form.password }}
		<input type="submit" value="Login" class="submit" />
		<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
		</form>
	</div>
	
	<div id="right">
		<h1>Signup</h1>
		<p>Signing up to see our latest products and designs as soon as they are available, and track your orders.</p> 
		<p><a href="{% url registration_register %}">Signup now &raquo;</a></p>
	</div>

</div>
{% endblock %}
