{% extends "base.html" %}

{% block pagetitle %}Register{% endblock %}

{% block extracss %}
<style type="text/css">

div#main-text-wide div#left {
  width: 700px;	
  padding-right: 30px;
}

div#main-text-wide div#right {
  float: left;
  width: 400px;	
}

input.submit {
    background-color: #398C26;
    border: medium none;
    color: #FFFFFF;
    font-family: Arial,sans-serif;
    font-weight: bold;
    height: 32px;
    padding: 9px;
    width: 160px;
}

input.submit:hover {
    background-color: #666;
    cursor: pointer;
}

form label {
  margin-bottom: 5px;	
  color: #e1e1e1;
  float: left;
}

</style>
{% endblock %}

{% block content %}

<div id="main-text-wide">
	<div id="left">
		<h1>Register for an account</h1>
		<p>Signing up to see our latest products and designs as soon as they are available, and track your orders.</p> 

		{{ form.errors }}

		<form method="post" action="{% url registration_register %}">
		  {% csrf_token %}
		  <p><input id="id_username" type="hidden" name="username"></p>
		  <p><label>Your contact email</label>{{ form.email }}</p>
		  <p><label>Choose a password</label>{{ form.password1 }}</p>
		  <p><input type="submit" value="Submit" class="submit" /></p>
		</form>
		<img style="float:left; position: relative; top: 10px; margin-right: 20px;" src="/images/lock-large.png"/>
		
		<p style="float: left; width: 300px; font-size: 11px;">We will never pass on your private information to any other individual or company. Your information is stored securely, your password encrypted, and your email will never be displayed publicly. We hate spam just as much as you do!</p>
	</div>
</div>
{% endblock %}
