html {
  border: none;
  margin: none;
  padding: none;	
}

body {
  font-weight: 0.9em;
  font-family: Verdana, Arial, sans-serif;
  background: url('') repeat-x scroll 50% 0 #fff;
  margin: 10px 0 0;
  padding: 0;
  color: #444;
}

div#super {
  width: 960px;
  margin: 0 auto;	
}

h3 {
    color: #333;
    font-family: Verdana, sans-serif;
    margin: 0 0 5px;
}

div#main-text-wide div#left h3 {
    color: #444444;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin: 30px 0 10px;
}



div#main-text-wide div#left p {
  margin-top: 0;
  margin-bottom: 20px;	
}

h4 {
  font-weight: bold;	
  margin-bottom: 10px;
  padding-bottom: 5px;
}

div.left h4 {
    border: medium none;
    color: #BE373A;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

div#right h3 {
    font-size: 14px;
    color: #333;
    margin-bottom: 0;
}

div#right h4 {
  text-align: left;
  color: #666;
  border-bottom: none;
  margin-bottom: 5px;
  margin-top: 30px;	
}


a img {
  border: none;	
}

a img:hover {
  opacity: 0.8;	
}

a {
  text-decoration: none;	
}

a:link, a:visited {
  color: #398c26;
}

a:hover, a:active {
  color: #2c741c;
}

ul {
  list-style-type: square;	
}

ul, ol {
    color: #777777;
    font-size: 13px;
    line-height: 1.8em;	
}

ol {
  font-weight: italic;	
  font-size: 12px;
}

div#container {
  width: 960px;
  padding: 20px 0px 0px;
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
}



div#footer {
  width: 960px;	
  height: 50px;
  margin-top: 30px;
  float: left;
  padding-top: 20px;
  border-top: 1px solid #e1e1e1;
}

ul.footer-links {
  width: 230px;
  float: left;
  margin-left: 20px;
  padding-left: 0;
  margin-bottom: 80px;	
}

ul.footer-links li {
  display: ;
  color: #333;
  font-size: 15px;
}

div.payments {
  margin-left: 0px;
  margin-top: 20px;
  float: left;
  width: 250px;
}

div.payments p {
  font-size: 0.8em;	
  width: 250px;
  margin-left: 0px;
}

div.footer-box {
  margin-left: 40px;
  margin-top: 0px;
  float: left;
  width: 260px;
}

div.footer-box h4 {
  font-family:	Georgia, serif;
  letter-spacing: -1px;
  font-weight: bold;
  color: #666;
}

div.footer-box p {
  font-size: 0.8em;	
  width: 250px;
  margin-left: 0px;
}

div.footer-box ul {
  width: 100%;	
  padding-left: 15px;
}

div.footer-box ul li {
  font-size: 13px;
    color: #EE6464;
    margin-bottom: 5px;
    list-style-type: square;
}

/* typography */

h1 {
    color: #333;
    font-family: Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 0 25px;
    padding-bottom: 0;
}

h2 {
    color: #666;
    font-family: Verdana, sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0 0 5px;
    padding-bottom: 0;
}

div#user-photos h2 {
  margin-bottom: 15px;	
  font-size: 1.4em;
}


p {
    color: #444;
    font-size: 14px;
    line-height: 1.8em;
}

p.intro {
    color: #666666;
    font-size: 15px;
    margin: -10px 0 25px;
}

div.left p {
  margin: 5px 0 20px 0px;
  font-size: 15px;
  line-height: 1.8em;
  padding-right: 10px;
}

/* header styles */

div#header {
    border-bottom: 1px solid #E1E1E1;
    float: left;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 960px;
}

div#header-messages {
    font-size: 11px;
    font-weight: bold;
    height: 0;
    margin: -53px auto 10px;
    float: right;
}

div#header-messages div.hm {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    background-color: #f1f1f1;
    float: right;
    padding: 8px 20px 10px 20px;
    text-align: right;
    margin-right: 10px;
}

p.shipping {
  float: right;
  margin: 20px 0 0 0;
  font-size: 11px;
  padding-right: 30px;	
}

div#logo {	 
 width: 400px;
 height: 100px;
 background: url("") no-repeat scroll 0 0 transparent;
 float: left;
 margin: 0px 0 0 0px;
 position: relative;
}

div#logo a {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #e1e1e1;	
}

div#logo a span {
  display: none;	
}

div#logo:hover {
  opacity: 0.8;	
  
}

div#home-banner {
    float: right;
    margin: 45px 0px 0 0;
    text-align: right;
    width: 560px;
}

p.subtitle {
    font-size: 16px;
    letter-spacing: 0px;
    padding-bottom: 10px;
    margin: 0px 0 10px 0px;
    border-bottom: 1px solid #fbe3e3;;
}

div#basket-header {
    background-color: #F1F1F1;
    border-radius: 7px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 30px;
    position: relative;
    top: 10px;
    left: 10px;
}

#navigation {
  float: right;
  margin: 0px 0px 0;
  width: 530px;	
}

ul#nav {
    color: #EE6464;
    float: left;
    margin: 75px 0 0 0;
    padding-left: 0;
    width: 530px;
}

ul#nav li {
  display: inline;
}

ul#nav li:not(:last-child) a {
  border-right: 1px solid #F1F1F1;
}

ul#nav li a {
    display: block;
    float: left;
    font-family: Verdana, sans-serif;
    padding: 0px 13px;
    font-weight: bold;
    font-size: 14px;
}

ul#nav li a:hover {
  text-decoration: underline;
}

ul#nav li a.selected:hover {
}

ul#nav li a.selected {
    color: #333;
}

div.links {
  float: right;
  width: 400px;
  margin-top: 20px;
}

div.links a {
  float: right;
  background-color: #f1f1f1;
  padding: 10px 15px;	
  border-radius: 5px;
  margin: 0 20px 10px 0;
}

div.links a:hover {
  background-color: #398C26;
  color: #fff;	
}

div.messenger {
  float: left;
  width: 100%;
  padding-right: 20px;	
}

div.messenger span {
  position: relative;
  left: 20px;
  top: 8px;
  font-size: 12px;
  font-weight: bold;	
}

div.messenger div {
  float: left;	
}




/* homepage styles */


div#add-a-photo {
  float: right;
  text-align: center;
}


div#add-a-photo a:link, div#add-a-photo a:visited {
  background: url('/images/button-add-a-photo.png') no-repeat top left;
  width: 227px;
  height: 55px;
  float: right;
  border: none;
}

div#add-a-photo:hover a {
  background: url('/images/button-add-a-photo.png') no-repeat bottom left;
}

div#box {
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
}

div.home-products {
    float: left;
    margin-bottom: 10px;
    margin-top: 0px;
    display: none;
}

div#home-extra {
  float:left;
  margin-left:0px;
  width:100%;
  padding: 10px 20px 10px 0px;
  margin-top: 0px;
}

div#home-extra div.user-photos img {

}

div#home-extra div.user-photos {
    border-top: medium none;
    margin-left: 0;
    padding: 20px 30px 20px;
    width: 740px;
    position: relative;
    -moz-transition-duration: 300ms;
    -moz-transition-property: background;
    border-radius: 10px;
}

div#home-extra div.user-photos.last {
    border-bottom: none;
}

div#home-extra div.user-photos span.link {
  position:absolute;
  width:100%; 
  height:100%; 
  top:0; 
  left: 0; 
  z-index: 1;	
}

div#home-extra div.user-photos:hover {
  background-color: #f1f1f1;	
}


div#home-extra div.user-photos:hover h4 {
  text-decoration: underline;	
}


div#home-extra div.user-photos div.left p a {
  z-index: 2;	
  position: relative;
}

div#home-extra div.user-photos div.a-user-photo {
    border-bottom: medium none;
    margin: 0 10px 0px 0px;
    padding-bottom: 0;
    width: 90px;
}

div#home-extra div.user-photos div.a-user-photo div.info {
    width: 490px;
}

div#home-extra div.user-photos div.a-user-photo div.photo {
  margin-right: 10px;
}


div#home-extra a.see-more {
    float: left;
    font-size: 0.9em;
    margin-right: 0;
    position: relative;
    top: -2px;
}

div#home-extra h4 {
    font-family: Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
    color: #439249;
}


div#home-extra div.left p {
  margin-bottom: -5px;	
}


/* right navigation styles */
ul#right-nav {
  list-style-type: none;
  padding: 0;
  margin-top: 0;	
}

ul#right-nav li {
  font-size: 12px;	
  font-weight: bold;
}

ul#right-nav li a {
  -moz-transition-duration: 300ms;
  -moz-transition-property: background;
  background-color: #cef0c6;
  padding: 5px 5px 5px 20px;
  display: block;
  margin-bottom: 2px;
  color: #333;  	
}

ul#right-nav li a.selected {
  color: #fff;  	
  background-color: #398C26;
}

ul#right-nav li a:hover {
  color: #fff;  	
  background-color: #398C26;
}

ul#right-nav ul.subnav {
  list-style-type: square;
  padding-left: 10px;
  margin-left: 20px;	
}

ul#right-nav ul.subnav li a {
  background-color: #fff;
	
  font-size: 11px;
  padding: 3px;
    padding-left: 10px;
  margin: 0;
  border-bottom: 2px dotted #e1e1e1;
}

ul#right-nav ul.subnav li a.last {
  border-bottom: none;	
  margin-bottom: 2px;
}


/* end rightnav styles */


/* content page styles */

div#main-text-wide {
  padding-top:30px;
  width:100%;
  float:left;
  margin-left: 0px;
  margin-bottom: 80px;
}

div#main-text-wide div#left {
    float: left;
    margin: 0 40px 20px 0px;
    width: 200px;
}

div#main-text-wide div#left ul#categories {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#main-text-wide div#left ul#categories li a {
    background-color: #cef0c6;
    color: #333;
    float: left;
    margin-bottom: 1px;
    padding: 5px 0 5px 15px;
    width: 185px;
}

div#main-text-wide div#left ul#categories li a:hover {
  background-color: #398C26;
  color: #fff;
}

div#main-text-wide div#left ul#categories ul.sub-categories {	
  list-style-type: none;
  font-size: 11px;
  padding: 0;
}

div#main-text-wide div#left ul#categories ul.sub-categories li a {
   width: 180px;
   background-color: #e2f9dd;
   float: left;	
   padding-left: 20px;
   color: #333;
}

div#main-text-wide div#left ul#categories ul.sub-categories li a:hover {
  background-color: #398C26;
  color: #fff;
}




div#main-text-wide div#right {
    float: left;
    padding-left: 0;
    width: 720px;
}

p.introduction {
    color: #30A5C7;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 10px;
    padding-bottom: 10px;
}


/* product listing styles */

div.promo {
    float: left;
    margin: 0 20px 20px 0px;
    padding: 0px 0px 20px 0px;
    position: relative;
    width: 160px;
    height: 200px;
}


div.promo:hover {	
  cursor: pointer;
}

div.promo div.image {
    float: left;
    height: 150px;
    margin-right: 20px;
    text-align: center;
    width: 150px;
}

div.promo div.image img {
  border: 1px solid #c1c1c1;
  padding: 2px;	
}

div.promo:hover div.image img {
  opacity: 0.8;	
}

div.promo div.text {
  float: left;
  padding: 3px 10px;
  position: relative;
  top: -5px;
  left: 5px;
  background-color: #f9f9f9;
  border-bottom: 3px solid #e1e1e1;
}

div#right div.promo div.text p {
  margin: 0;	
  font-size: 11px;
  font-weight: bold;
}

div.promo span.link {
  position:absolute;
  width:100%; 
  height:100%; 
  top:0; 
  left: 0; 
  z-index: 1;	
}

div.tea-promo a.add-to-basket {
  background: url('/images/price-back-small.png') no-repeat top;
  width: 108px;
  height: 25px;
  position: relative;
  float:left;	
  margin-right: 10px;
  z-index: 2;
}

div.tea-promo a.more-details {
  background: url('/images/more-details.png') no-repeat top;
  width: 108px;
  height: 25px;
  position: relative;
  float:left;
    z-index: 2;	
}

div.promo:hover a.more-details {
  background: url('/images/more-details.png') no-repeat center;
}

div.promo:hover a.add-to-basket {
  background: url('/images/price-back-small.png') no-repeat center;	
}

div.promo a.add-to-basket:hover {
  background: url('/images/price-back-small.png') no-repeat bottom;
}

div.promo a.more-details:hover {
  background: url('/images/more-details.png') no-repeat bottom;
}




div.image-top {
  height: 5px;
  background: url('/images/stripe.png') repeat-x;
  width: 100%;	
  float: left;
  margin-bottom: 10px;
}




div#right p {
  margin: 0 0 10px 0;
  padding: 0;	
}

div#right p.small {
  font-size: 11px;
}


div.price-text span {
  font-size:13px;
}



img.tea-promo {
    border-radius: 8px;
    margin-bottom: 0px;
    margin-right: 0;
}


/* tea page styles */


span.grey {
  color: #666;	
  font-weight: normal;
}

span.lightgrey {
  color:#e1e1e1;	
}

.small {
  font-size: 0.7em;	
}





/* SHOPPING BASKET PAGE STYLES */


 /* these are the styles for the 'start checkout' button */
div#start-checkout-button {
    float: right;
    margin: -120px 10px 0 0;
    width: 220px;
}

div#start-checkout-button p, div#confirm-details-button p, div#confirm-and-pay-button p {
    font-size: 12px;
    padding-left: 5px;
}

div#start-checkout-button a:link, div#start-checkout-button a:visited {
	background: url("/images/button-proceed-to-checkout.png") no-repeat scroll left top transparent;
	width: 220px;
	height: 51px;
	margin-bottom: 10px;
}

div#start-checkout-button a {
  height: 55px;
  width: 227px;	
  display: block;
}

div#start-checkout-button a:hover {
	background: url("/images/button-proceed-to-checkout.png") no-repeat scroll center left transparent;
	cursor: pointer;
}

div#start-checkout-button a:focus {
	background: url("/images/button-proceed-to-checkout.png") no-repeat scroll bottom left transparent;
	cursor: pointer;
}

/* these are the styles for the 'confirm address' button */

div#confirm-details-button {
    float: right;
    margin-top: 15px;
    padding-right: 0px;
    width: 220px;
}

input.confirm-details-button {
    background: url("/images/button-confirm-address.png") no-repeat scroll left top transparent;
    border: medium none;
    height: 51px;
    width: 220px;
}

input.confirm-details-button:hover {
  background: url('/images/button-confirm-address.png') no-repeat center left;
  cursor: pointer;
}

input.confirm-details-button:active {
  background: url('/images/button-confirm-address.png') no-repeat bottom left;
  cursor: pointer;
}

/* these are the styles for the 'confirm and pay' button */

div#confirm-and-pay-button {
    float: right;
    margin-top: 15px;
    padding-right: 0px;
    width: 220px;
}

input.confirm-and-pay-button {
    background: url("/images/button-confirm-and-pay.png") no-repeat scroll left top transparent;
    border: medium none;
    height: 51px;
    width: 220px;
}

input.confirm-and-pay-button:hover {
  background: url('/images/button-confirm-and-pay.png') no-repeat center left;
  cursor: pointer;
}

input.confirm-and-pay-button:active {
  background: url('/images/button-confirm-and-pay.png') no-repeat bottom left;
  cursor: pointer;
}

/* these are styles for the 'submit button' like on the review form  */

div#submit-button {
    float: left;
    margin-top: 15px;
    padding-right: 0px;
    width: 220px;	
}

input.submit-button {
    background: url("/images/submit.png") no-repeat scroll left top transparent;
    border: medium none;
    float: right;
    height: 51px;
    width: 227px;
}

input.submit-button:hover {
  cursor: pointer;
  background: url('/images/submit.png') no-repeat center left;	
}

input.submit-button:active {
  cursor: pointer;
  background: url('/images/submit.png') no-repeat bottom left;	
}









/* FORMS LAYOUT */

label {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    margin-left: 0px;
    float: left;
    width: 200px;
}

label.optional {
  font-weight: normal;	
}

input {
  margin-bottom: 10px;
  height: 20px;
  width: 300px;	
  border: 1px solid #D1D1D1;
  padding: 5px;
  font-size: 12px;
}

textarea {
  width: 300px;	
  padding: 5px;
  border: 1px solid #d1d1d1;
  font-family: "Lucida-Grande", sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

ul.errorlist {
  list-style-type: none;
  color: red;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;	
}



/* photo pages */



div.user-photos {
    float: left;
    margin: 0 0 0;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

div.user-photos div.a-user-photo {
    float: left;
    margin: 0 10px 0px 0;
    padding-bottom: 0px;
    width: 90px;
}

div.user-photos div.a-user-photo div.photo {
  float: left;
  margin-bottom: 10px;	
}

div.user-photos div.a-user-photo div.info {
    float: left;
    width: 120px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

div.user-photos div.a-user-photo div.info p {
  margin: 0;
  float: left;	
}

div#right div.user-photos div.a-user-photo p.recommend {
    color: black;
    float: left;
    font-size: 11px;
    font-style: italic;
}

div#photo input#id_photo {
    border-style: solid;
    width: 300px;
}


h3.user-add-photo {	
  margin: 0 0 0px 0;
  color: #BE373A;
  font-weight: normal;
}

div.message {
    background-color: #F2FFF3;
    border-bottom: 2px solid #D6E7B9;
    border-top: 2px solid #D6E7B9;
    margin: 0px 0 10px;
    padding: 10px 15px;
}

div#right div.message p {
  color: #137517;
  font-size: 13px;	
}


div.about-box {
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 0 0 20px;
    width: 220px;
}

div.flatpage p.about-promo {
  font-size: 1.4em;
  color: #30a5c7;	
}

div.flatpage div#right p {
  font-size: 0.8em;
  color: #333;
  width: 100%;	
  margin-bottom: 10px;
}

div#right div.about-box h3 {
    font-weight: bold;
    text-align: left;
}

div.flatpage div#right h4 {
  color: black;
  font-weight: bold;
  font-size: 15px;	
  margin-bottom: 0;
}


div.about-box img {
  float: left;
  margin-bottom: 20px;	
}

div.about-box a.promo {
  font-size: 0.9em;
  float: left;
  margin-top: 10px;	
}



