{% extends "shop/wsfhome/base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}{{ shopsettings.homepage_title }}{% endblock %}

{% block metadescription %}{{ shopsettings.homepage_meta_description }}{% endblock %}


{% block extrajs %}
<script>
$(function() {
	$(".scroll.one").scrollable({ vertical: false, circular: true, speed: 800, }).autoscroll({ autoplay: true, interval: 3500 });
});
</script>
{% endblock %}




{% block extracss %}
<style type="text/css">
div#images {
  margin-top: 50px;
}	

.scroll {
  width: 520px;
  height: 520px;	
}
</style>
{% endblock %}

{% block content %}
<div id="images">
	<div class="scroll one">
		<div class="pics">
			{% for i in featured %}
				{% thumbnail i.image "520x520" crop="center" as im %}
					<img src="{{ im.url }}"/>
				{% endthumbnail %}
			{% endfor %}	
		</div>
	</div>
</div>

<div id="text">
{{ shopsettings.homepage_description|safe }}
</div>
	

{% endblock %}
