{% extends "shop/wsfhome/base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}{{ shopsettings.homepage_title }}{% endblock %}

{% block metadescription %}{{ shopsettings.homepage_meta_description }}{% endblock %}


{% block extrajs %}
<script>
$(function() {
	$(".scroll.one").scrollable({ vertical: false, circular: true, speed: 800, }).autoscroll({ autoplay: true, interval: 3500 });
	$(".scroll.two").scrollable({ vertical: false, circular: true, speed: 800, }).autoscroll({ autoplay: true, interval: 3800 });
	$(".scroll.three").scrollable({ vertical: false, circular: true, speed: 800, }).autoscroll({ autoplay: true, interval: 4300 });
	$(".scroll.four").scrollable({ vertical: false, circular: true, speed: 800, }).autoscroll({ autoplay: true, interval: 4600 });
});
</script>
{% endblock %}




{% block extracss %}
<style type="text/css">
div#images {
  margin-top: 50px;
}	
</style>
{% endblock %}

{% block content %}
<div id="images">
	{% if shopsettings.wsf_home_feature_image %}
		{% thumbnail shopsettings.wsf_home_feature_image "520" crop="center" as im %}
			<img src="{{ im.url }}"/>
		{% endthumbnail %}
	{% endif %}	
</div>

<div id="text">
{{ shopsettings.homepage_description|safe }}
</div>
	

{% endblock %}
