{% extends "shop/wsfhome/base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}{{ shopsettings.homepage_title }}{% endblock %}

{% block metadescription %}{{ shopsettings.homepage_meta_description }}{% endblock %}


{% block extrajs %}
<script>
$(function() {
	$(".scroll.one").scrollable({ vertical: false, circular: true, speed: 800, }).autoscroll({ autoplay: true, interval: 3500 });
	$(".scroll.two").scrollable({ vertical: false, circular: true, speed: 800, }).autoscroll({ autoplay: true, interval: 3800 });
	$(".scroll.three").scrollable({ vertical: false, circular: true, speed: 800, }).autoscroll({ autoplay: true, interval: 4300 });
	$(".scroll.four").scrollable({ vertical: false, circular: true, speed: 800, }).autoscroll({ autoplay: true, interval: 4600 });
});
</script>
{% endblock %}




{% block extracss %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<div id="images">
	<div class="scroll one">
		<div class="pics">
		{% for product in featured_one %}
			{% thumbnail product.image "250x250" crop="top" as im %}
				<a href="{% url product_view product.slug %}"><img src="{{ im.url }}"></a>
			{% endthumbnail %}
		{% endfor %}
		</div>
	</div>
	
	<div class="scroll two">
		<div class="pics">
		{% for product in featured_two %}
			{% thumbnail product.image "250x250" crop="top" as im %}
				<a href="{% url product_view product.slug %}"><img src="{{ im.url }}"></a>	
			{% endthumbnail %}
		{% endfor %}
		</div>
	</div>

	<div class="scroll three">
		<div class="pics">
		{% for product in featured_three %}
			{% thumbnail product.image "250x250" crop="top" as im %}
				<a href="{% url product_view product.slug %}"><img src="{{ im.url }}"></a>	
			{% endthumbnail %}
		{% endfor %}
		</div>
	</div>

	<div class="scroll four">
		<div class="pics">
		{% for product in featured_four %}
			{% thumbnail product.image "250x250" crop="top" as im %}
				<a href="{% url product_view product.slug %}"><img src="{{ im.url }}"></a>	
			{% endthumbnail %}
		{% endfor %}
		</div>
	</div>

	<div class="links">
		<a href="{% url categories %}">View our products &raquo;</a>
		<a href="/contact-us/">Can't find what you're looking for?</a>
	</div>
	
</div>

<div id="text">
{{ shopsettings.homepage_description|safe }}
</div>
	

{% endblock %}
