{% extends "base.html" %}

{% block banner %}
	    	<div id="home-banner">
	    	<p class="logo-assist">Logged out</p>
	    	<p class="normal">You've logged out now</p>
			</div>
{% endblock %}

{% block content %}

<div id="featured-small"></div>

<div id="main-text-wide">

<p class="introduction">You've successfully logged out of the site. We're sending you a medal and in discussion with the Queen to include on next years New Years Honours list for your excellence in using this site!</h3>


</div>
{% endblock %}
