{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}
{% load comments %}

{% block metadescription %}{{ entry.summary|safe }}{% endblock %}
{% block pagetitle %}{{ entry.title }}{% endblock %}


{% block extrajs %}
<script>
$(function() {

// enable circular scrollables with a click handler
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

div#main-text-wide div#right {
  width: 200px;
  float: right;	
}

div#main-text-wide div#left {
  width: 700px;
  float: left;	
}

div#entry-content img {
    border: 3px solid #555555;
    float: right;
    margin: 0 0 20px 30px;
}	

</style>
{% endblock %}


{% block content %}


<div id="main-text-wide">

	<div id="right">
		<div class="rss">
			<a href="/feeds/latest/">Get the RSS feed <img class="rss" src="{% staticfile '/images/rss-small.png' %}"></a>
		</div>
	</div>
	
	<div id="left">	
		<h1>{{ entry.title }}</h1>
		<p class="subtitle">
			<em>{{ entry.date_added|date:"D d M Y" }}</em> 
			<span class="small"><a href="{% url blog_home %}">&laquo; back to blog home</a></span></p>


		<div id="entry-content">

			{% if entry.promo_image %}
				{% thumbnail entry.promo_image "150x150" crop="center" as im %}
					<img src="{{ im.url }}"/>
				{% endthumbnail %}
			{% endif %}
			<p>{{ entry.content|safe }}</p>

			
			
			
			{% if other_entries %}
				<h3>Other recent posts you might like</h3>		
				{% for other in other_entries %}
					<ul>
		 				<li>
		 					<a class="title" href="{% url blog_entry other.slug %}" title="{{ other.title }} - a blog entry">{{ other.title }}</a>
	 					</li>
	 				</ul>
				{% endfor %}
			{% endif %}	
			
		</div>
	</div>

  </div>

{% endblock %}


