{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}The {{ sitename }} blog{% endblock %}
{% block metadescription %}{% endblock %}


{% block extracss %}
<style type="text/css">

div#main-text-wide div#right {
  width: 200px;
  float: right;	
}

div#main-text-wide div#left {
  width: 700px;
  float: left;	
}

div#main-text-wide div#left p {
  margin-bottom: 10px;	
}

span.entry-meta {
  font-size: 11px;
  color: #fff;	
}

div.entry {
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
  float: left;	
}

div.rss img {
  position: relative;
  top: 4px;	
}

div.image {
  float: left;
  margin: 30px 20px 10px 0;
  border: 2px solid #fff;
  height: 120px;	
}

div.text {	
}

</style>
{% endblock %}




{% block content %}

<div id="main-text-wide">

<div id="right">
	<div class="rss">
	<a href="/feeds/latest/">Get the RSS feed <img class="rss" src="{% staticfile '/images/rss-small.png' %}"></a>
	
	</div>
</div>

<div id="left">
	<h1>The {{ sitename }} blog</h1>
	
 		<div class="entry-list">
			{% include "blog/snippets/entry-list.html" %}
		</div>

</div>	
</div>


{% endblock %}