{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}Your basket ({{ basket_quantity }}){% endblock %}
{% block metadescription %}{% endblock %}

{% block extracss %}
<style type="text/css">
div#main-text-wide div#left {
  margin-top: 20px;	
}

div#main-text-wide div#right {
  margin-top: 30px;	
}

div.row-box p.intro {
    margin: -10px 0 5px;
}

div#basket-full {
  width: 520px;
  float: left;	
  font-size: 0.9em;
}

div#basket-full img {
  border-radius:5px;
  border: 3px solid #fff;	
}

div.basket-row {
    border-bottom: 2px dotted #e1e1e1;
    float: left;
    height: 70px;
    margin-bottom: 0px;
    padding: 10px 0 0 10px;
}

div.basket-row.postage {
    height: 40px;
}

div.basket-row.postage div.product-weight, div.basket-row.postage div.product-total {
  padding-top: 0;	
}

.strikethrough {
  text-decoration: line-through;	
}

div.basket-head-row {
  height: 15px;
  float: left;
  margin: 20px 0 10px 0;
  padding: 0px 0px 5px 13px;
  font-size: 0.9em;
  color: #BE373A;
}

div.product-name {
  float: left;
  width: 100px;	
}

div.product-weight {
  float: left;
  width: 180px;	
  padding-top: 6px;
}

div.product-price {
  float: left;
  width: 10px;
}

div.product-quantity {
  float: left;
  width: 70px;	
  text-align: center;
  padding-top: 8px;
  font-size: 1.3em;
  font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
  font-weight: bold;  
}



div.product-total {
  float: left;
  width: 110px;	
  text-align: center;
  font-size: 1.2em;
  padding-top: 8px;
  font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
  font-weight: bold;
}

div.product-remove {
    float: left;
    padding-top: 18px;
    text-align: left;
    width: 30px;
}

div.product-remove a {
    background: url("/images/delete.png") no-repeat scroll left top transparent;
    display: block;
    height: 14px;
    margin-top: 4px;
    width: 11px;
}

div.product-remove a:hover {
  background: url({% staticfile '/images/delete.png' %}) no-repeat bottom left;
}

div#totals {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 205px;
    text-align: right;
    width: 250px;
    font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
    letter-spacing: -1px;
    color: #666;
}

div.label {
  float: left;
  width: 100px;
  margin-top: 10px;	
}

div.total {
  color: #1A6D18;
  text-align: right;
  margin-top: 10px;
  float: right;

}

div#extra-info {
  width: 500px;
  margin-top: 60px;	
}

div#extra-info div.box {
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
}

div#extra-info p {
  margin-top: 0;
  font-size: 13px;	
}

div#extra-info h3 {
  margin-bottom: 0px;
}

div.plus-minus {
  float: right;
  width: 35px;
  display: block;
  height: 15px;
}

div.plus-minus a {
 display: none	
}

div.basket-row:hover {
  background-color: #e1e1e1;
  cursor: pointer;	
}

div.basket-row:hover div.plus-minus a {
  display: block;	
}


a.plus {
  display: block;
  background: url('{% staticfile "/images/plus.png" %}') no-repeat top left;
  height: 14px;
  width: 15px;
  float: right;
  position: relative;
  top: 4px;	
}

a.plus:hover {
  background-position: bottom left;
}

a.minus {
  display: block;
  background: url('{% staticfile "/images/minus.png" %}') no-repeat top left;
  height: 14px;
  width: 15px;
  float: left;	
  position: relative;
  top: 4px;	
}

a.minus:hover {
  background-position: bottom left;
}

</style>
{% endblock %}



{% block content %}


<div id="main-text-wide">

<h1>Your basket ({{ basket_quantity }} item{% ifequal basket_quantity 1 %}{% else %}s{% endifequal %})</h1>

{% if basket_items %}

  <div id="basket">
 
	<div id="basket-full">
	 
	{% for thing in basket_items %}
	  <div class="basket-row">
		<div class="product-name">
			{% thumbnail thing.item.parent_product.image "80x53" crop="center" as im %}
			<img src="{{ im.url }}"/>
			{% endthumbnail %}
			<br/>
		</div>
		<div class="product-weight">
			<a title="{{ thing.item.parent_product.description }}" href="{% url product_view thing.item.parent_product.slug %}">{{ thing.item.parent_product.name }}</a>
			{% if not thing.item.weight %}{% else %}({{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }}) {% endif %}<br/>
			{{ thing.item.price_unit }}{{ thing.item.price }}<br/>
			<a title="Remove" alt="remove item from your basket" href="{% url remove_from_basket thing.item.id %}"><span class="small">Remove from basket</span></a>
		</div>
		<div class="product-price">&nbsp;</div>
		<div class="product-quantity">x {{ thing.quantity }} 
			<div class="plus-minus"><a class="plus" href="{% url increase_quantity thing.item.id %}"></a>{% ifequal thing.quantity 1 %}{% else %} <a class="minus" href="{% url reduce_quantity thing.item.id %}"></a>{% endifequal %}</div> </div>
		<div class="product-total">{{ thing.item.price_unit}}{{ thing.get_price }}</div>
		
	  </div>
	{% endfor %}
	{% if postage_discount %}
	  <div class="basket-row postage">
		<div class="product-name strikethrough"><em>Postage <span class="small">(Standard)</span></em></div>
		<div class="product-weight"><span class="small"><em>* Your order is over £50, so there's no postage charge!</em></span></div>
		<div class="product-price">&nbsp;</div>
		<div class="product-quantity">&nbsp;</div>
		<div class="product-total strikethrough">£3.00</div>
	  </div>
	{% else %}
	  <div class="basket-row postage">
		<div class="product-name"><em>Postage <span class="small"><br/>(First Class)</span></em></div>
		<div class="product-weight"><em>Delivered in 1-2 days<br/><span class="small">Shipped from the UK</span></em></div>
		<div class="product-price">&nbsp;</div>
		<div class="product-quantity">&nbsp;</div>
		<div class="product-total">£3.00</div>
	  </div>
	{% endif %}
	</div>
	<div id="totals">
		<div class="label">Total:</div><div class="total">£{{ total_price }}</div>
	</div>
	<br clear="all"/>
	  	<div id="start-checkout-button">		
		
		<p class="checkout">
			<strong>Next step</strong>: your details. 
			<em>No login or registration required to purchase.</em>
		</p>
		<a href="{% url order_step_one %}"></a>
	</div>

			
  </div>
  

		<h2>Buyer protection</h2>
		<p>Your online safety is extremely important to us too. Your purchase has these guarantees:</p>
		<ul>
		  <li><strong>Customer services:</strong> if you need to contact us about anything, you can email us directly at <a href="mailto:{{ siteemail }}">{{ siteemail }}</a>. </li>
		</ul>


 

{% else %}
  <div id="basket">
	<p>There's nothing in your basket - add something, quick! <br/><a href="{% url products %}">&raquo; Browse our products here</a></p>
  </div>


{% endif %}


</div>
{% endblock %}
