{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block metadescription %}{% endblock %}

{% block pagetitle %}Our products{% endblock %}

{% block extracss %}
<style type="text/css">
div#right p.category-description {
  margin-bottom: 40px;	
}
</style>
{% endblock %}

{% block content %}


<div id="main-text-wide">

	
	<div id="left">
		{% include 'shop/snippets/categories_nav.html' %}
	</div>

	<div id="right">
	<h1>Our products
	{% if category %}
	- {{ category.name }} ({{ category.products_count }})
	{% else %}
	({{ all_products_count }})
	{% endif %}
	</h1>
	
	
		{% if category %}
		{{ category.description|safe }}
		{% else %}
		{{ shopsettings.product_page_description|safe }}
		{% endif %}	

	

	<div id="products">	
		{% if category %}
			{% include "shop/snippets/products_list.html" %}
		{% else %}
			{% include "shop/snippets/categories_list.html" %}
		{% endif %}
	</div>
		
</div>

	

</div>


{% endblock %}
