{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block metadescription %}{% if product.meta_description %}{{ product.meta_description|safe }}{% else %}{{ product.name }} - {{ product.description|safe }}{% endif %}{% endblock %}
{% block pagetitle %}{% if product.meta_title %}{{ product.meta_title }}{% else %}{{ product.name }}{% endif %}{% endblock %}

{% block extrajs %}
<script>
$(function() {

$(".scrollable").scrollable();

$(".items img").hover(function() {

	// see if same thumb is being clicked
	if ($(this).hasClass("active")) { return; }

	// calclulate large image's URL based on the thumbnail URL (flickr specific)
	var url = $(this).attr("alt");
	
	// get handle to element that wraps the image and make it semi-transparent
	var wrap = $("#image_wrap").fadeTo("medium", 0.5);

	// the large image from www.flickr.com
	var img = new Image();
    
	// call this function after it's loaded
	img.onload = function() {

		// make wrapper fully visible
		wrap.fadeTo("fast", 1);

		// change the image
		wrap.find("img").attr("src", url);	

	};

	img.src = url;

	// activate item
	$(".items img").removeClass("active");
	$(this).addClass("active");

}).filter(":first").hover();
});
</script>

{% endblock %}

{% block extracss %}

<style type="text/css">
div.more-info {
  padding-left: 0px;
  margin-bottom: 15px;
  padding-top: 15px;	
  border-top: 1px solid #e1e1e1;
  margin-top: 15px;
}

#home-banner p.normal {
    font-size: 15px;
    width: 500px;
}

h3.more-info {
    margin-bottom:10px;
    margin-top: -3px;
    padding-bottom: 0;
}

div.right-links h3.more-info {
  margin-bottom: 15px;	
  float: left;
  width: 220px;
}


div.other-teas {
    float: left;
    margin: 0 0 10px 10px;
    width: 500px;
}

div.other-tea {
    border-bottom: 1px solid white;
    color: #666666;
    float: left;
    font-size: 0.9em;
    margin-bottom: 20px;
    padding-bottom: 15px;
    width: 460px;
}

div.other-tea.last {
  border-bottom: none;	
}

div.other-tea div.image {
  float: left;
  margin-right: 15px;
}

div.other-tea div.text {
  margin-top: 2px;	
}

div.other-teas h3 {
  font-size: 1.5em;
  text-shadow: 1px 1px #fff;
  margin-bottom: 20px;
}

div.product-photos-small {
    float: left;
    margin: 0 0 25px 0;
    width: 320px;
    text-align: right;
}

div.product-photos-small img {
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px;
    border: 1px solid #fff;
}

div.product-photos-small img:hover {
  cursor: pointer;
  opacity: 0.8;	
}

div.product-photos-small img.active {
    border: 2px solid #E1E1E1;
}

div.product-photos-small p {
    float: left;
    font-size: 13px;
    line-height: 1.3em;
    margin-top: 20px;
    text-align: right;
    width: 100px;
}

div.right-links {
  padding-top: 0px;	
  float: left;
}

div.right-links ul {
    margin: 0 0 0 0;
    padding-left: 15px;
}

div.right-links ul li {
    color: #666666;
    font-size: 13px;
    list-style-type: square;
    margin-bottom: 10px;
    padding-left: 0;
}

div.product-top {
    float: left;
    padding-bottom: 30px;
    width: 100%;
}

div.image-top {
  height: 5px;
  margin-bottom: 30px;
}

div.product-top div.main-image {
  width: 500px;
  float: left;
  margin-right: 30px;	
}

div.product-top div#prices {
    float: left;
    margin-bottom: 0px;
    padding-top: 0px;
    width: 430px;
}

div.product-top div#prices div.price {
  width: 153px;
  float: left;
  margin-right: 10px;
  border-right: 2px dotted #e1e1e1;	
  padding: 10px 0;
}

div.product-top div#prices div.price.large {
  width: 430px;
  border-right: none;	
}

div.product-top div#prices div.price.large div.button {
  background: url("{% staticfile '/images/price-back-two.png' %}") no-repeat scroll right top transparent;	
  width: 186px;
  height: 43px;
}

div.product-top div#prices div.price.large div.button:hover {
  background: url("{% staticfile '/images/price-back-two.png' %}") no-repeat scroll right center transparent;	
  width: 186px;
  height: 43px;
}

div.product-top div#prices div.price.large div.button:active {
  background: url("{% staticfile '/images/price-back-two.png' %}") no-repeat scroll right bottom transparent;	
  width: 186px;
  height: 43px;
}

div.product-top div#prices div.price.large p.price-description {
  width: 360px;
  margin-left: 0px;
  padding-top: 5px;
  margin-bottom: 0px;	
}

div.product-top div#prices div.price.large div.message {
  width: 110px;
  float: left;	
  padding-top: 6px;
}

div.product-top div#prices div.price.last {
 margin-right: 0;
 padding-left: 5px;
 border-right: none;	
}

div.product-top div.button {
    background: url("{% staticfile '/images/add-to-basket-button.png' %}") no-repeat scroll right top transparent;
    float: left;
    height: 33px;
    margin: 0px 0 0 30px;
    width: 142px;
    position:relative;
    top: -5px;
}

div.product-top div.button:hover {
  cursor: pointer;
  background: url("{% staticfile '/images/add-to-basket-button.png' %}") no-repeat center right;
}

div.product-top div.button:active {
  cursor: pointer;
  background: url("{% staticfile '/images/add-to-basket-button.png' %}") no-repeat bottom right;
}

div.product-top div.main-image img {
  border-radius: 10px;	
}

div.product-top div.description {
  float: left;
  width: 430px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.product-top div.description p {
    font-size: 13px;
    margin-top: 0;
}

div.price-text {
    color: #EE6464;
    float: left;
    font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
    font-size: 28px;
    font-weight: bold;
    height: 23px;
    letter-spacing: -1px;
    margin: 0;
    position: relative;
    top: -4px;
    width: 200px;
}

div.message {
    background-color: #FFFFFF;
    border: medium none;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 5px;
    padding: 3px 0 0;
    float: left;
    width: 150px;
}

div.message p {
  line-height: 1.5em;	
}

div.message a {
  color: #EE6464;	
}

div.message img {
    float: left;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

div.message p {
  font-size: 13px;
  margin: 0; 
  color: #19761C;	
}

table.details {
    color: #333;
    font-size: 13px;
    margin-top: 10px;
    width: 490px;
}

table.details tr {
  padding-bottom: 10px;	
}

table.details td {
  padding: 15px;	
  background-color: #f1f1f1;
}

table.details td a {
  font-size: 12px;	
}

table.details td.left {
  padding-right: 10px;
  font-family:"helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;	
  background-color: #e1e1e1;
}

ul.reviews {
    color: #666666;
    font-size: 12px;
    list-style-type: square;
    padding-left: 20px;
    margin-bottom: 0;
    border-bottom: 3px dotted #e1e1e1;
    margin-bottom: 20px;
}

ul.reviews li {
  font-size: 14px;	
  padding-bottom: 15px;
  line-height: 1.6em;
} 

ul.reviews li span {
  color: #BE373A;	
}

h3.small {
  font-size: 15px;	
}

div.product-photos-small p.helper {
    background: url("/images/helper.png") no-repeat scroll left top transparent;
    color: #f1f1f1;
    float: left;
    font-family: Helvetica;
    font-size: 10px;
    height: 7px;
    margin: 0 0 0 30px;
    padding: 15px 8px;
    text-align: left;
    width: 130px;
}

p.price {
    color: #19761C;
    float: left;
    font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: -1px;
    margin: 0;
}

p.price span.grey {
  color: #999;
  font-weight: 300;
  font-size: 20px;
}

div.facts {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F6F6F6;
    border-color: #F1F1F1 #E1E1E1 #E1E1E1 #F1F1F1;
    border-radius: 10px 10px 10px 10px;
    border-right: 1px solid #E1E1E1;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding: 15px 15px 15px 20px;
}

div.facts ul {
  list-style-type: square;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 5px;	
  padding-left: 15px;
}

div.facts h3 {
  color: #19761C;
  font-size: 18px;	
} 

div.fb-recommend {
  margin-top: 20px;
  float: left;	
}

div.full-description {
  float: left;
  width: 430px;	
  border-top: 2px dotted #e1e1e1;
  padding-top: 20px;
  margin-top: 20px;
}

div.contact {
  float: left;
  width: 400px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px 15px;
  margin-left: -10px;	
}

div.contact p {
  margin: 0 0 20px 0;	
  font-size: 11px;
}

div.contact p.message {
    color: #00C2D9;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

div.contact h3 {
  font-size: 25px;	
}

div.contact label {
  width: 360px;	
  margin-bottom: 10px;
}

div.contact label span {
  font-weight: normal;
  color: #666;	
}

div.contact input {
  float: left;
}

div.contact input.submit {
  width: 60px;	
  padding: 9px;
  height: 32px;
  background-color:#666;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border: none;
}

div.contact input.submit:hover {
  cursor: pointer;
  background-color: #FF9600;	
}

</style>
{% endblock %}



{% block content %}

<div id="main-text-wide">

<h1>{{ product.name }}</h1>


	
	<div class="product-top">
		<div class="main-image">
				{% thumbnail product.image "500" as im %}
					<img class="product-small" alt="{{ im.url }}" title="{{ product.image_caption }}" src="{{ im.url }}"/>
				{% endthumbnail %}
				
				{% if other_products %}
				<h4>Other products from the <a href="{% url category product.category.slug %}">{{ product.category }}</a> category</h4>
				{% for p in other_products %}
					{% thumbnail p.image "100" crop="center" as im %}
						<a href="{% url product_view p.slug %}"><img alt="" title="{{ p.name }}" src="{{ im.url }}"/></a>
					{% endthumbnail %}
				{% endfor %}
				{% endif %}
		</div>
		
		<div class="description">
			{{ product.description|safe }}
		</div>
	
		{% if payments_active %}
		<div id="prices">
			{% ifequal prices.count 1 %}
				{% for price in prices %}
		    	  <div class="price large">
		    		<p class="price">{{ price.price_unit }}{{ price.price|floatformat }} <span class="grey">/ {{ price.weight|floatformat }}{{ price.weight_unit }}</span> </p> 
					<a title="Add 1 {{ product.name }} ({{ price.weight|floatformat }}{{ price.weight_unit }}) to your basket" href="{% url add_to_basket price.id %}">
					<div class="button"></div>
            		</a>
            		{% if message %}
            		{% ifequal thing.item.weight price.weight %}
	  				<div class="message">
	  					<img src="{% staticfile '/images/tick.png' %}">
						<p>Added! <a href="{% url basket %}">Checkout &raquo;</a></p>
					</div>
		  			{% endifequal %}
		  			{% endif %}
              	</div>
           		{% endfor %}

			{% else %}
		    	{% for price in prices %}
		    	  <div class="price{% if forloop.last %} last{% endif %}">
		    		<p class="price">{{ price.price_unit }}{{ price.price|floatformat }} </p> 
		    		<p class="price-description">{{ price.description }}</p>
					<a title="Add 1 {{ product.name }} ({{ price.weight|floatformat }}{{ price.weight_unit }}) to your basket" href="{% url add_to_basket price.id %}">
					<div class="button"></div>
            		</a>
            		{% if message %}
            		{% ifequal thing.item.weight price.weight %}
	  				<div class="message">
	  					<img src="{% staticfile '/images/tick.png' %}">
						<p>Added! <a href="{% url basket %}">Checkout &raquo;</a></p>
					</div>
		  			{% endifequal %}
		  			{% endif %}
            	  </div>
           		{% endfor %}
           	{% endifequal %}
		</div>
		{% endif %}

		<div class="contact">
			{% if message %}
				<p class="message">{{ message }}</p>
			{% else %}
			<h3>Need a quote?</h3>
			<p>You can  <a href="{% url contact_us %}">contact us for a quote now</a>, or just drop your email address or phone number here and we'll contact you.</p>
		     
		    <form action="." method="post">
		    <label for="id_info">Your email and/or phone <span>(incl. international dialing code)</span></label> <input type="text" name="info" id="id_info" />
		    <input type="submit" value="Submit" class="submit">
		    </form>
			{% endif %}
		</div>		


		<div class="full-description">
			<h3>Product details</h3>
			{{ product.body_text|safe }}
		</div>	
		



	</div>

           	
  



	<div id="left">
		{% if reviews %}
			<h3>Customer reviews for {{ product.name }}<span class="">- <a href="{% url review_product product.slug %}">Add your own review &raquo;</a></span></h3>
			<ul class="reviews">
			{% for review in reviews %}
				<li><em>"{{ review.short_text }}"</em> <br/><span>{{ review.first_name }} {{ review.last_name }}</span></li>
			{% endfor %}
			</ul>
			<p></p>
		{% endif %}  

	
		
	{{ product.long_description|safe }}

	
	

	
	
			
						 


</div>
</div>
{% endblock %}
