{% extends "base.html" %}
{% load django_static %}

{% block extracss %}
<style type="text/css">
</style>
{% endblock %}

{% block metadescription %}Contact the Min River Tea Farm - how you can get in touch with us.{% endblock %}

{% block pagetitle%}Give a review{% endblock %}



{% block content %}
    

	<div id="main-text-wide">
	
	<div id="left">
		<h1>Thanks for submitting a review!</h1>
		<p class="subtitle">It means a lot to us, and we read every single one.</p>
		<p>We may decide to publish your review on our website, to help others choose their tea with confidence.</p>
	</div>
	
	<div id="right">

</div>
</div>
		
		<br clear="all"/>


		

    {% endblock %}
