{% load thumbnail %}
{% load django_static %}

		
		<div class="info">	
			<p class="quote"><em>&ldquo;My eyes are well and truly opened. The Iron Buddha tea you've sent me is something quite different from Chinese teas I've drunk in the past.&rdquo;</em><br/><span class="review">Brad Robinson, UK</span></p>


				{% for other in teas %}
			 		<p class="mail">
			 			<a href="{% url tea_view other.slug %}"><span class="link"></span></a>
			 				{% thumbnail other.image "80x55" crop="center" as im%}
			 				<img class="mail-icon" src="{{ im.url }}" />
			 				{% endthumbnail %}
			 			<a class="title" href="{% url tea_view other.slug %}" title="{{ other.name }} - another one of our great Chinese teas">{{ other.name }}</a>
			 			<br/>{{ other.super_short_description }}<br/>
			 			<strong>from £{{ other.get_lowest_price.price }}</strong>
			 		</p>
			 	{% endfor %}
			</div>
		
		<div class="info">
		  <div class="social">
		  	<h3>Keep in touch</h3>
		    <p>Check out our tea photos on Flickr, or keep in touch on Twitter and Facebook:</p>
			<a href="http://www.flickr.com/photos/62180582@N04/" title="See lots of our beautiful tea related photos on Flickr.com"><img src="{% staticfile '/images/flickr.png' %}"></a>
			<a href="http://www.facebook.com/pages/The-Min-River-Tea-Farm/216615051684246" title="Join our facebook group"><img src="{% staticfile '/images/facebook.png' %}"></a>
			<a href="http://twitter.com/minrivertea" class="twitter-follow-button" data-show-count="false">Follow @minrivertea</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
	      </div>
	    </div>
		

		
	