{% load nav_selected %}

	<ul id="right-nav">
		  <li><a class="{% nav_selected request '/about/our-story/' %}" href="/about/our-story/">Our story</a></li>
		  <li><a class="{% nav_selected request '/about/our-teas/' %}" href="/about/our-teas/">About our teas</a></li>
  		  <li><a class="{% nav_selected request '/about/the-founder/' %}" href="/about/the-founder/">More about the founder</a></li>
		  <li><a class="{% nav_selected request '/about/wholesale/' %}" href="/about/wholesale/">Wholesale</a></li>
		  <li><a class="{% nav_selected request '/about/personal-tea-shopping/' %}" href="/about/personal-tea-shopping/">Personal tea shopping</a></li>
		  <li><a class="{% nav_selected request '/contact-us/' %}" href="/contact-us/">Contact us</a></li>
	</ul>
